<h1>Individual User Page</h1>
<br>

<div class="card">
  <h2 class="card-header">This is the user page for: <%= @user.username %></h2>
  <%= button_to "Log Out", { action: "destroy", controller: "sessions" }, method: "delete" %>
</div>
<br>
<br>
<h3><%= @user.username %>'s Story submissions<% @user.submissions.all do |submission| %></h3>
<%=  link_to submission.subtitle, submission_path(submission) %>
<% end %>
<br>
<br>
<br>
<h3><%= @user.username %>'s published submissions<% @user.sections.all do |section| %></h3>
<%= link_to section.subtitle, sections_path(sections) %>
<% end %>
<br>
<br>
<br>

<%= button_to "Delete User", { action: "destroy", controller: "users" }, method: "delete", data: { confirm: "Are you sure you'd like to delete your profile?"} %>
