<h2><%= link_to "Create Submission", new_story_section_submission_path(@section.story, @section)%></h2>
<p><%= link_to "Back", story_path(@section.story) %></p>

<% @section.order_submissions.each do |submission| %>
  <br>
  <h5><%= link_to submission.subtitle, story_section_submission_path(@section.story, @section, submission) %><br>
    <h6><%= submission.summary %></h6>
    <p>Votes: <%= submission.votes.count  %></p>
  </h5>
  <% if logged_in? %>
    <% if submission.voted?(current_user) %>
      <p>Voted</p>
    <% else %>
      <%= button_to "Vote for Submission", {:controller => "votes", :action => "create", :vote => {:user_id => current_user.id, :submission_id => submission.id}}, :method => :post %>
    <% end %>
    <br>
  <% end %>
  <br>
<% end %>
