<% if @errors %>
  <% @errors.each do |error|  %>
  <%= error %>
  <% end %>
<% end %>

<style media="screen">
  .field_with_errors {
    border: 2px red solid;
  }
</style>

<h1>New Submission!</h1>
<%= link_to "Back to Submissions", story_section_path(@section.story, @section) %>
<%= form_for @submission, url: story_section_submissions_path(@section.story, @section) do |f| %>
  <p><%= f.label :subtitle%>
  <%= f.text_field :subtitle %></p><br>
  <p><%= f.label :summary %>
  <%= f.text_field :summary %></p><br>
  <p><%= f.label :content %>
  <%= f.text_area :content %></p><br>
  <p><%= f.label :end_story %>
  <%= f.check_box :end_story, checked: false %><br><br>
  <%= f.submit %>

<% end %>
<br>
