<div class="story-homepage-top">

  <div class="top-left">
    <div class="card shadow">
      <h3 class="card-header section-header">Top Stories</h3>
      <div class="list-group">
      <% @stories.top_stories.each do |story| %>
        <div class="border-bottom"><%= link_to "#{story.title} | #{story.followers.count} CollaboWriters", story_path(story), class: "list-group-item list-group-item-action list-group-item-light" %>
          <div class="synopsis-style">
            <%= story.synopsis %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

  </div>

  <div class="top-right">
    <div class="card shadow">
      <h3 class="card-header section-header">New Stories</h3>
      <div class="list-group">
        <% @stories.recent.each do |story| %>
          <div class="border-bottom"><%= link_to "#{story.title} | #{story.followers.count} CollaboWriters", story_path(story), class: "list-group-item list-group-item-action list-group-item-light" %>
            <div class="synopsis-style">
              <%= story.synopsis %>
            </div>
          </div>
        <% end %>
      </div>

    </div>


  </div>
</div>


<% if logged_in? %>
  <div class="card shadow section-card-wide">
    <h3 class="card-header section-header">My Stories</h3>
    <% current_user.followed_stories.top_stories.each do |story| %>
        <div class="border-bottom"><%= link_to "#{story.title} | #{story.followers.count} CollaboWriters", story_path(story), class: "list-group-item list-group-item-action list-group-item-light" %>
          <div class="synopsis-style">
            <%= story.synopsis %>
          </div>
        </div>
    <% end %>
  </div>


<% end %>

<br>
  <div class="card shadow section-card-wide">
    <h3 class="card-header section-header">Recently Updated</h3>
    <% @stories.recently_updated.last(5).each do |story| %>
    <div class="border-bottom"><%= link_to "#{story.title} | #{story.followers.count} CollaboWriters", story_path(story), class: "list-group-item list-group-item-action list-group-item-light" %>
      <div class="synopsis-style">
        <%= story.synopsis %>
      </div>
    </div>
    <% end %>
  </div>
