<h1><%= @story.title %></h1>
<h3> Synopsis: <%= @story.synopsis %></h3>
<h3> Notes: <%= @story.additional_detail %></h3>
<p>
Followers: <%= @story.followers.count %>
<br>
<br>
<% @story.sections.each do |section| %>
<li> <%=link_to 'Section 1', section_path(section) %> </li>
<% end %>
