<h1><%= @story.title %></h1>
<h3> Synopsis: <%= @story.synopsis %></h3>
<h3> Notes: <%= @story.additional_detail %></h3>
<p>
Followers: <%= @story.followers.count %>
<br>
<br>
<h2>Published Sections:</h2>
<% @story.sections.each do |section| %>
  <% if section.published? == true %>
    <li> <%=link_to "Section #{@story.section_by_time_stamp(section)}:", section_path(section) %>
       <%=  section.subtitle %>
    by <%=link_to section.author, user_path(user) %> </li>
  <% end %>
<% end %>
<br>
<br>
<h2>Working Section:</h2>
<% @story.sections.each do |section| %>
  <% if section.published? == false %>
    <li> <%=link_to "Section #{@story.section_by_time_stamp(section)}", section_path(section) %> </li>
  <% end %>
<% end %>
<br>
<br>
<% if @story.following_story?(current_user) %>
  <p>You are helping tell this story.</p>
<% else %>
  <%= button_to "Join Story", {:controller => "follows", :action => "create", :follow => {:user_id => current_user.id, :story_id => @story.id}}, :method => :post %>
<% end %>
<br>
<br>
<p><%=link_to "Back", stories_path %></p>
