<h1><%= @story.title %></h1>
<h3> Synopsis: <%= @story.synopsis %></h3>
<h3> Notes: <%= @story.additional_detail %></h3>
<p>
Followers: <%= @story.followers.count %>
<br>
<br>
<% @story.sections.each do |section| %>
<li> <%=link_to 'Section 1', section_path(section) %> </li>
<% end %>
<br>
<br>
<% if @story.following_story?(current_user) %>
  <p>You are currently following this story.</p>
<% else %>
  <%= button_to "Join Story", {:controller => "follows", :action => "create", :follow => {:user_id => current_user.id, :story_id => @story.id}}, :method => :post %>
<% end %>
