<!DOCTYPE html>
<html>
  <head>
    <title>CrowdsourceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar nav-padding navbar-expand-lg navbar-light bg-light space">
      <a class="navbar-brand" href="/stories">CollaboWrite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <% if current_page?(:controller => 'stories', :action => 'new') %>
            active
            <% end %>
            ">
            <a class="nav-link" href="/stories/new">Create Story</a>
          </li>
          <% if logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
              </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <!-- <a class="dropdown-item" href="#">Login</a> -->
                  <% if !!current_user == true %>
                    <a class="dropdown-item" href="/logout" data-method="delete">Logout</a>
                  <% else %>
                    <% if !current_page?(:controller => 'sessions', :action => 'login') %>
                      <a class="dropdown-item" href="/login">Login</a>
                    <% end %>
                  <% end %>
                </div>
            </li>
          <% else %>
            <% if !current_page?(:controller => 'sessions', :action => 'login') && !current_page?(:controller => 'users', :action => 'new') %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login / Register</a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
